
<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
    <h3>Create a New Listing</h3>
    <form method="post" action="/listings/new">
      <div class="mb-3">
          <label for="title" class="form-label">Title</label>
        <input name="title" placeholder="Add catchy title" type="text" class="form-control">
      </div>
       
       <div class="mb-3">
           <label for="description" class="form-label">Description</label>
         <textarea   name="description" class="form-control" ></textarea>
       </div>
          <div class="mb-3">
             <lable for="image" class="form-label" >Image</lable>
         <input name="image" placeholder="enter image url/link "  type="text" class="form-control">
          </div>
          <div class="row">
        <div class="mb-3 col-md-4">
             <lable for="price" class="form-label" >Price</lable>
            <input name="price" placeholder="1200" type="number" class="form-control">
        </div>
        <div class="mb-3 col-md-8">
              <lable for="country" class="form-label" >country</lable>
          <input name="country" placeholder="INDIA"  type="text" class="form-control">
        </div>
        </div>
         <div class="mb-3">
        <lable for="location" class="form-label" >location</lable>
         <input  class="form-control" name="location" placeholder=" Noida , Rajasthan"  type="text">
        </div>
       <button class="btn btn-dark add-btn">Add</button>
       <br><br>
    </form>
    </div>
    </div>
</body>
